<form>
        <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" #userName required>
        </div>
        <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" #userPassword required>
        </div>
        <button type="submit" (click)="authService.SignIn(userName.value, userPassword.value)" class="btn btn-success">Zaloguj</button>
</form>

